.login {
    height: 100vh;
    background-color: rgb(220,220,220);
    text-align: center;
}
header {
    background-color: white;
    height: 40px;
    padding: 15px;
    .header_user {
        float: right;
        button, p {
            display: inline-block;
            vertical-align: middle;
        }
        p {
            padding: 0 15px;
        }
        button {
            height: 40px;
            padding: 0 30px;
            background-color: #4285f4;
            border: none;
            outline: none;
            color: white;
            font-weight: bold;
            border-radius: 2px;
        }
    }
}
.search-content {
    padding: 30px;
    width: 1000px;
    margin: 0 auto;
    .search-block {
        background-color: white;
        height: 35px;
        margin-bottom: 30px;
        button {
            float: right;
            height: 35px;
            width: 100px;
            background-color: #4285f4;
            border: none;
            outline: none;
            color: white;
            font-weight: bold;
        }
        div {
            margin-right: 100px;
            height: 100%;
        }
        input {
            width: 100%;
            display: block;
            border: none;
            height: 100%;
            padding: 0 20px;
            box-sizing: border-box;
        }
    }
    .search-empty {
        line-height: 200px;
        text-align: center;
        p {
            color: rgb(150,150,150);
        }
    }
    .search-list {
        table {
            width: 100%;
            text-align: left;
            .head {
                border-bottom: 1px solid rgb(180,180,180);
                th {
                    padding: 10px;
                }
            }
            .body {
                border-bottom: 1px solid rgb(210,210,210);
                td {
                    padding: 10px;
                }
            }
        }
    }
}